.dives {
    flex: 1;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 2rem;
    overflow: auto;



}

.dives h2,
h3 {
    font-style: italic;
    font-family: 'Anton', sans-serif;
    font-size: 1.7rem;
}

.inside {
    background-color: rgb(222, 225, 235);
}